{{ define "main" }}
<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h2 itemprop="name headline">{{ .Title }}</h2>
    <p>Published <time itemprop="datePublished" content="{{ .PublishDate.Format "2006-02-01" }}">{{ .PublishDate.Format "Jan 2, 2006" }}</time></p>
  </header>
  <main itemprop="articleBody">
    {{ .Content }}
  </main>
  <footer>
    <p>Last modified: <time itemprop="dateModified" content="{{ .PublishDate.Format "2006-02-01" }}">{{ .Lastmod.Format "Jan 2, 2006"}}</time></p>
    <nav>
      <p>
        {{ with .NextInSection }}
        Newer: <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{end}}
      </p>
      <p>{{ with .PrevInSection }}
        Older: <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{end}}
      </p>
    </nav>
  </footer>
</article>
{{ end }}
